.wrapper {
  background: #1f2537;
  color: #efd148;
  padding: 6rem 3rem;
}
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 2rem;
  justify-items: center;
}

/*Tablets, Ipads */
@media (min-width: 768px) and (max-width: 1024px) {
  .services > *:nth-child(3n) {
    grid-column: span 2;
    justify-self: center;
  }
}
