.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_container {
  margin-left: 10rem;
  display: flex;
  align-items: center;
  padding: 10px;
}
.logo {
  max-width: 35px;
}
.link {
  list-style: none;
  text-decoration: none;
  transition: opacity 0.25s ease-in-out;
  color: #1f2537;
  margin-right: 5rem;
  font-size: 1.1rem;
}
.link:hover,
.logo:hover {
  opacity: 0.5;
}

.line {
  opacity: 0.5;
  margin: 0;
}
