.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-top: 10px;
  max-width: 35px;
}
.navLinks {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
.link {
  list-style: none;
  text-decoration: none;
  transition: opacity 0.25s ease-in-out;
  color: #1f2537;
  font-size: 1.2rem;
  cursor: pointer;
}
.link:hover,
.logo:hover {
  opacity: 0.5;
}
.line {
  opacity: 0.5;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navLinks {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    text-align: center;
    background-color: #ebebebf5;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .navLinks {
    margin: 2rem;
    flex-direction: column;
  }
}
