.footer {
  background-color: rgb(53, 53, 53);
  color: white;
  min-height: var(--footer-height);
  display: flex;
  flex-direction: column;
}

.footer p {
  margin: 0;
}

.information {
  padding: 1rem;
}

.address-item {
  text-align: center;
}

.copy-right {
  background-color: #000;
  padding: 1rem;
  text-align: center;
}

@media (width >= 768px) {
  .information {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .address-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

@media (width >= 1024px) {
  .information {
    width: 60%;
  }
}
