.footer {
  display: grid;
  grid-template-rows: 6fr 1fr;
  background-color: #ebc340;
  text-align: left;
}
.footer .informations {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.footer .copyright {
  text-align: center;
  background: #896f12;
}
