@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --camel: #bb9457ff;
  --rich-black-fogra-39: #070707ff;
  --maximum-blue-purple: #afbbf2ff;
  --purple-navy: #585481ff;
  --yellow-orange: #fea82fff;
}
/* minimal css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
.main-blur {
  filter: blur(5px);
}

/* overriding time line component padding */
.vertical-timeline {
  padding: 7em 0px !important;
}
