.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: #1f2537;
  min-height: 93vh;
}
.wrapper img {
  width: 350px;
}
.wrapper h2 {
  color: #1f2537;
  opacity: 0.75;
}
.wrapper .left_side {
  align-self: center;
}
.wrapper .right_side {
  padding: 5rem;
  align-self: center;
}
.right_side p {
  text-align: left;
}
