.main {
  padding: 3.5rem 1rem 1rem 1rem;
}

.main h1 {
  font-size: 26px;
  text-align: center;
}
.main h2 {
  font-size: 22px;
  text-align: center;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-container {
  text-align: center;
}
.social-media-item {
  margin-right: 10px;
}

.buttons-container {
  text-align: center;
  margin-top: 20px;
}

@media (width >= 768px) {
  .main {
    display: flex;
    min-height: 100vh;
  }
  .main h1 {
    font-size: 32px;
    text-align: initial;
  }
  .main h2 {
    font-size: 24px;
    text-align: initial;
  }
  .image-container {
    flex: 1;
  }
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content-wrapper {
    padding: 1rem;
  }
  .content-wrapper > * {
    margin-top: 2rem;
  }
  .social-media-container {
    text-align: left;
  }
  .buttons-container {
    text-align: left;
  }
}
