.main {
  padding: 3.5rem 1rem 1rem 1rem;
}

.main h1 {
  font-size: 26px;
  text-align: center;
}
.main h2 {
  font-size: 22px;
  text-align: center;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-container {
  text-align: center;
}
.social-media-item {
  margin-right: 10px;
}

.buttons-container {
  text-align: center;
  margin-top: 20px;
}
.keep-reading-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.keep-reading-btn {
  width: 12rem;
  height: auto;
}
.keep-reading-btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
.keep-reading-btn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.keep-reading-btn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.keep-reading-btn .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.keep-reading-btn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.keep-reading-btn:hover .circle {
  width: 100%;
}
.keep-reading-btn:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0) rotate(90deg);
}
.keep-reading-btn:hover .button-text {
  color: #fff;
}

@media (width >= 768px) {
  .main {
    display: flex;
    min-height: 100vh;
  }
  .main h1 {
    font-size: 32px;
    text-align: initial;
  }
  .main h2 {
    font-size: 24px;
    text-align: initial;
  }
  .image-container {
    flex: 1;
  }
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content-wrapper {
    padding: 1rem;
  }
  .content-wrapper > * {
    margin-top: 2rem;
  }
  .social-media-container {
    text-align: left;
  }
  .buttons-container {
    text-align: left;
  }
}
