.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  height: 7vh;
}
.logo {
  max-width: 40px;
}
.navbar_links {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.line {
  opacity: 0.5;
  margin: 0;
}
.link_item {
  list-style: none;
  text-decoration: none;
  transition: opacity 0.25s ease-in-out;
  color: #1f2537;
  font-size: 1.1rem;
  margin-right: 2rem;
}
.link_item:hover {
  cursor: pointer;
  opacity: 0.5;
}
