.button-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  background-color: var(--purple-navy);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transition: all 0.6s;
  z-index: 1000;
}

.button {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button:hover {
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.6s;
}

.button-active .line1 {
  width: 80%;
  height: 3px;
  transform: rotate(25deg) translate(10px);
  border-radius: 50%;
}
.button-active .line2 {
  height: 3px;
  border-radius: 50%;
}
.button-active .line3 {
  width: 80%;
  height: 3px;
  transform: rotate(-25deg) translate(10px);
  border-radius: 50%;
}

.links-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--purple-navy);
  clip-path: circle(10px at calc(100% - 50px) 50px);
  transition: all 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 500;
}

.link {
  text-decoration: none;
  color: white;
  margin-bottom: 2rem;
  font-size: 26px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.link:hover {
  cursor: pointer;
}
.link span {
  margin-left: 10px;
}

.links-container-active {
  clip-path: circle(100%);
}
