.container {
  padding: 1rem;
  background-color: var(--purple-navy);
  min-height: 50vh;
  color: #fff;
}

.projects-container {
  display: grid;
  margin: 100px 0;
  grid-gap: 5rem;
  place-items: center;
}

@media (width >= 768px) {
  .projects-container {
    margin: 100px 25px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 1024px) {
  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
