.container {
  min-height: calc(100vh - var(--footer-height));
}
.project-description {
  padding: 1rem;
}
.project-name {
  text-align: center;
}

@media (width >= 768px) {
  .image-container {
    display: flex;
    justify-content: center;
  }
  .project-description {
    width: 80%;
    margin: 0 auto;
  }
}
@media (width >= 1024px) {
  .project-description {
    width: 60%;
  }
}
