.wrapper {
  /* padding: 3rem; */
  background: #1f2537;
  min-height: 93vh;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.skills > * {
  margin: auto;
}

.title {
  color: chocolate;
}
