.container {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.container > * {
  font-size: 30px;
  text-decoration: none;
  margin-right: 10px;
}

.fa-linkedin-square {
  color: #007bb5;
}
.fa-github-square {
  color: #211f1f;
}
.fa-facebook-square {
  color: #4267b2;
}
.fa-instagram-square {
  color: #e4405f;
}
.fa-twitter-square {
  color: #1da1f2;
}

.anchor {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}
