.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: #1f2537;
  min-height: 93vh;
}
.left_side {
  grid-column: 2/5;
  align-self: center;
  text-align: center;
}
.right_side {
  grid-column: 6/12;
  align-self: center;
}
.wrapper img {
  width: 350px;
}
.wrapper h2 {
  color: #1f2537;
  opacity: 0.75;
}

.right_side p {
  text-align: left;
}
.right_side SocialMedia {
  margin-top: 3rem;
}

@media only screen and (max-width: 1025px) {
  .wrapper {
    grid-template-columns: none;
  }
  .left_side {
    grid-column: none;
  }
  .right_side {
    grid-column: none;
    text-align: center;
    padding: 0 5rem;
  }
}
