.vertical-timeline-element-content p {
  text-align: left;
}
.vertical-timeline-element-title,
.vertical-timeline-element-subtitle {
  text-align: center;
}
.icon {
  max-width: 40px;
  align-self: center;
}
span.vertical-timeline-element-icon.bounce-in {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-timeline-element-date {
  text-align: left;
  color: white;
}

@media (max-width: 1170px) {
  .icon {
    max-width: 30px;
  }
}
