.container {
  background-color: #efd148;
  color: #1f2537;
}
.wrapper {
  padding: 1rem;
  max-width: 75%;
  margin: auto;
}
.title {
  margin-bottom: 1rem;
}

@media (max-width: 1025px) {
  .wrapper {
    text-align: center;
  }
}
